# server configuration
PORT=<server port>
HOST=<server host>
ORIGIN=<cors origin>

# node-postgres configuration
PGUSER=<postgres user>
PGHOST=<postgres host>
PGPASSWORD=<postgres password>
PGDATABASE=<postgres database>
PGPORT=<postgres port>